.records-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &__list {
        overflow-y: auto;
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__filters {
        display: flex;
    }

    &__add {

    }
}

.record-card {
    display: flex;
    align-items: center;
  
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__content {
      margin-left: 15px;
    }
}
  