@import './scss/index.scss';

:global {
  --var-clr-blue-dark: $clr-blue-dark;
  --var-clr-blue: $clr-blue;
  --var-clr-blue-light: $clr-blue-light;
  
  --var-clr-purple: $clr-purple;
  --var-clr-purple-light: $clr-purple-light;
  
  --var-clr-red: $clr-red;
  --var-clr-red-light: $clr-red-light;
  
  --var-clr-grey: $clr-grey;
  --var-clr-grey-light: $clr-grey-light;
  
  --var-clr-white: $clr-white;
  --var-clr-black: $clr-black;
}

.layout {
  display: flex;
  height: 100vh;
  background-color: $clr-white;

  &__left {
    height: 100%;
    box-shadow: 2px 0 0 0 $clr-grey-light;
    z-index: 2;
  }

  &__center {
    flex-grow: 1;
    background-color: $clr-background;
    z-index: 1;
    padding: 50px 30px;
  }

  &__logo {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    flex-grow: 1;
    font-weight: bold;
    font-size: 18px;
  }

  &__date {
    color: $clr-grey;
  }
}
