$clr-blue-dark: #29275f;
$clr-blue: #4c56ba;
$clr-blue-light: #5f80f5;

$clr-purple: #3c3b95;
$clr-purple-light: #9698d5;

$clr-red: #ff808b;
$clr-red-light: #e6a7b3;

$clr-grey-dark: #929cb7;
$clr-grey: #a9b2c8;
$clr-grey-light: #eae9ee;

$clr-background: #f6f4fc;

$clr-white: #ffffff;
$clr-black: #1e1e1e;
