@import '../../../scss/index.scss';

.card {
    background-color: $clr-white;
    border-radius: 16px;
    padding: 16px;
    margin: 5px;
    color: $clr-global-dark;

    &--color {
        &-white {
            background-color: $clr-white;
        }

        &-red {
            background-color: $clr-red;
            color: $clr-white;
        }

        &-blue {
            background-color: $clr-blue-light;
            color: $clr-white;
        }
    }

    &--transparent {
        background-color: rgba($clr-red, 0.7);
    }
}