@import '../../../scss/index.scss';

.card {
    background-color: $clr-white;
    border-radius: 12px;
    padding: 12px;
    margin: 5px;
    color: $clr-global-dark;

    &--color {
        &-white {
            background-color: $clr-white;
        }

        &-red {
            background-color: $clr-red;
            color: $clr-white;
        }

        &-blue {
            background-color: $clr-blue-light;
            color: $clr-white;
        }
    }

    &--transparent {
        &.card--color {
            &-white {
                background-color: rgba($clr-white, 0.2);
            }
    
            &-red {
                background-color: rgba($clr-red, 0.2);
                color: $clr-white;
            }
    
            &-blue {
                background-color: rgba($clr-blue-light, 0.2);
                color: $clr-white;
            }
        }
    }
}