

$clr-blue-dark: #29275F;
$clr-blue: #4C56BA;
$clr-blue-light: #5f80f5;

$clr-purple: #3c3b95;
$clr-purple-light: #9698d5;

$clr-red: #ff808b;
$clr-red-light: #E6A7B3;

$clr-grey-dark: #929CB7;
$clr-grey: #A9B2C8;
$clr-grey-light: #eae9ee;

$clr-background: #f6f4fc;

$clr-white: #ffffff;
$clr-black: #1e1e1e;



$clr-global-light: var(--var-clr-white);
$clr-global-dark: var(--var-clr-black);